body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif);
    background-size: contain;
}
h1{
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seções{
    justify-content: center;
    display: flex;
    padding: 20px;
    gap: 20px;
}
.seções2{
    justify-content:center;
    display: flex;
    padding: 20px;
    gap: 20px;
}
.seções3{
    justify-content:center;
    display: flex;
    padding: 20px;
    gap: 20px;
}