*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    background-color: #0b0b0b;
    color: #fff;
    line-height: 1.6;
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #1a0000, #400000, #1a0000);
    background-size: 200% 200%;
    animation: gradientMove 8s ease infinite;
}
.hero h1{
    font-size: 3rem;
    font-weight: 700;
    color: #ff3b3b;
}
.hero p{
    font-size: 1.2rem;
    margin: 15px 0 25px;
    color: #dcdcdc;
}
.hero .btn{
    background-color: #9b6bff;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);

}
.hero .btn:hover{
    background-color: #ff5c5c;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}
@keyframes gradientMove{
    0%{ background-position: 0% 50%;}
    50%{ background-position: 100% 50%;}
    100%{ background-position: 0% 50%;}
}